/*#skills {
    background-image: url('test.png');
}*/

.dev-image {
    max-width: 400px;
    cursor: pointer;
    animation: float 5s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}
.progress {
    height: 12.5px;
}
.skill-icon {
    max-width: 32px;
}
.skill_progress_95 {
    width: 95%;
}
.skill_progress_90 {
    width: 90%;
}
.skill_progress_85 {
    width: 85%;
}
.skill_progress_80 {
    width: 80%;
}
.skill_progress_70 {
    width: 70%;
}
.skill_progress_60 {
    width: 60%;
}
.skill_progress_55 {
    width: 55%;
}
.skill_progress_50 {
    width: 50%;
}
.skill_progress_45 {
    width: 45%;
}
.skill_progress_40 {
    width: 40%;
}
.switch-skills {
    max-width: 120px;
}
@media (max-width:991px){
    .skills-dev-image {
        display: none;
    }
    .my-skills {
        flex-direction: row;
    }
}